.idea/
.settings/
.DS_Store
*.iml
*.classpath
*.project
*~
*.jar
*.tar.gz
lib/checkout/
build/
src/main/java/com/criteo/vips/META-INF/
target/
script/enum-generator/vips-*
script/enum-generator/enums
script/enum-generator/test

### Maven ###
target/
pom.xml.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by https://www.toptal.com/developers/gitignore/api/cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=cmake

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/cmake
